.boxes {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 30px 100px ;
}
.box {
    border: 1px solid mediumturquoise;
}
.box:nth-child(n+21) {
    background-color: blue;
}
.box:nth-child(4n-1) {
    background-color: red;
}
