
.slider{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 300px;
}

.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -63px;
    padding: 16px;
    color: rgb(247, 209, 41);
    font-weight: bold;
    font-size: 65px;
    transition: 0.6s ease;
    border-radius: 5px 5px 5px 5px;
}
.slider .next {
    right: 0;
    border-radius: 5px 5px 5px 5px;
}

.slider .previous:hover,
.slider .next:hover {
    background-color: rgb(248, 239, 160);
}

.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.slide-box {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    min-width: 930px;
}

.img-review {
    border: 5px solid rgb(247, 209, 41);
    max-width: 270px;
    max-height: 190px;
}

.text-review {
    flex-basis: 65%;
    line-height: 24px;
    max-width: 675px;
    max-height: 240px;
}

.contact-data {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#ava {
    width: 7%;
    height: 8%;
}