button {
  border: none;
  background: #111B47;
  border-radius: 2px;
  color: white;
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6F7CB2;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #929ECC;
}

.back_img {
  background-image: url(./img/designer_1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  width: 100%;
  height: 68.75rem;
  position: absolute;
  z-index: 0;
}

.container {
  max-width: 1200px;
}

.text_logo {
  font-size: 26px;
  font-weight: 900;
  line-height: 38px;
  color: #37447E;
}

header {
  height: auto;
}

button {
  transition: transform 1s;
}
button:hover {
  background: #acd5eb;
  color: #111B47;
  border: 2px solid #111B47;
  transform: scale(1.1, 1.1);
}
button:active {
  border: none;
  background: #111B47;
  border-radius: 2px;
  color: white;
}

.navbar_box {
  position: relative;
  z-index: 1;
  padding-top: 1rem;
}
.navbar_box .nav_menu_box {
  width: 250px;
  display: flex;
  align-items: center;
}
.navbar_box .nav_menu_box .nav_menu:hover {
  color: #091133;
}
.navbar_box .button_nav {
  width: 160px;
  height: 26px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: white;
}

.text_box_header {
  width: 44.9166666667%;
  height: auto;
  margin-top: 16.3rem;
  margin-bottom: 4.3rem;
  position: relative;
  z-index: 1;
}
.text_box_header .text_header_title {
  font-size: 50px;
  font-weight: 500;
  line-height: 69px;
  color: #091133;
  margin-bottom: 1rem;
}
.text_box_header .text_header {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #505F98;
}

.button_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  height: 36px;
  margin-bottom: 24.125rem;
  position: relative;
  z-index: 1;
}
.button_box .button_box_left {
  width: 189px;
  height: 100%;
}
.button_box .button_box_right {
  width: 189px;
  height: 100%;
}
.button_box .button_box_right .button_right {
  background: none;
  color: #111B47;
  border: 2px solid #111B47;
}
.button_box .button_box_right .button_right:hover {
  background: #acd5eb;
}
.button_box .button_box_right .button_right:active {
  border: none;
  background: #111B47;
  border-radius: 2px;
  color: white;
}

.main_sections {
  padding-top: 5rem;
  margin-bottom: 10.1rem;
}

.text_box_main_1 {
  width: 95%;
  margin: 2rem 0 3rem 0;
}

.text_box_main {
  width: 76%;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  color: #091133;
}

.icon_boxes {
  display: flex;
  justify-content: space-between;
}
.icon_boxes .icon_box {
  width: 45%;
}
.icon_boxes .icon_box .icon_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #091133;
}
.icon_boxes .icon_box .icon_lorem {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #5D6970;
}

.purple_section {
  background-image: url(./img/Rectangle.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 11rem 0;
}

.text_purple_section {
  width: 41.6666666667%;
  text-align: center;
  margin: 0 auto;
}
.text_purple_section .price {
  font-size: 50px;
  font-weight: 500;
  line-height: 66px;
  color: #222F65;
  letter-spacing: 1px;
  margin-top: 2.1rem;
}
.text_purple_section .text_price {
  color: #37447E;
}
.text_purple_section .text_over_button {
  font-size: 14px;
  font-weight: 350;
  line-height: 24px;
  color: #5D6970;
  padding: 10px;
  margin-top: 3rem;
}
.text_purple_section .button_price {
  width: 189px;
  height: 32px;
  margin: 0 auto;
}

.footer_box {
  background-color: #E7ECFF;
}
.footer_box .over_line {
  padding: 3.2rem 0;
}
.footer_box .over_line .sign {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #939EA4;
}
.footer_box .over_line .button_footer {
  width: 110px;
  height: 26px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: white;
}
.footer_box .footer_line {
  border: 1px solid #CDD1D4;
}
.footer_box .under_line {
  padding: 1.5rem 0;
}
.footer_box .under_line .footer_menu {
  width: 21%;
}
.footer_box .under_line .footer_menu .color_menu:hover {
  color: #091133;
}
.footer_box .under_line .social {
  width: 21%;
}
.footer_box .under_line .social .icon_soc:hover {
  fill: #091133;
}

@media (max-width: 1100px) {
  .back_img {
    background-image: url(./img/Group.svg);
    background-position: right;
    margin-top: 3rem;
    height: 60rem;
  }

  .container {
    max-width: 900px;
  }

  .text_box_header {
    width: 59.8888888889%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10%;
  }

  .button_box {
    width: 45%;
    margin-bottom: 14rem;
  }

  .main_sections {
    margin-bottom: 0;
  }

  .img_size {
    width: 100%;
  }

  .purple_section {
    background-size: 130%;
    padding: 5rem 0;
  }
}
@media (max-width: 770px) {
  .back_img {
    background-image: url(./img/Rectangle.svg);
    background-size: auto;
  }

  .container {
    max-width: 85%;
  }

  .navbar_box .nav_menu_box {
    width: 140px;
  }

  .text_box_header {
    width: 100%;
    text-align: center;
  }
}