%btn {
    border: none;
    background: #111B47;
    border-radius: 2px;
    color: white;
    width: 100%;
    height: 100%;
}

@mixin fontz ($fs, $fw, $lh, $c) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;
}


body {
    @include fontz(16px, 400, 26px, #6F7CB2);
    font-family: 'Roboto', sans-serif;
    
}

a {
    text-decoration: none;
    @include fontz(14px, 400, 24px, #929ECC);
}

.back_img {
    background-image: url(./img/designer_1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    width: 100%;
    height: 1100px;
    position: absolute;
    z-index: 0;

}
.container {
    max-width: 1200px;
}
.text_link_nav {
    @include fontz(14px, 400, 24px, #505F98);    
}
.text_logo {
    @include fontz(26px, 900, 38px, #37447E)
}
li {
    margin-right: 20%;
}

header {
    height: auto;
    
}

button {
    @extend %btn;
}
.navbar_box {
    
    .button_nav {
        width: 160px;
    }
    .nav_menu {
        max-width: 300px;
    }
}

.text_box_header {
    width: 539px / 1200px *100%;
    height: auto;
    margin-top: 16.3rem;
    margin-bottom: 4.3rem;
    position: relative;
    z-index: 1;
    .text_header_title {
        @include fontz(50px, 500, 69px, #091133);
        margin-bottom: 1rem;
    }
    .text_header {
        @include fontz(18px, 400, 30px, #505F98);
    }
    
}

.button_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px / 1200px *100%;
    height: 36px;
    margin-bottom: 24.125rem;
    position: relative;
    z-index: 1;
    .button_box_left {
        width: 189px;
        height: 100%;
    }
    .button_box_right {
        width: 189px;
        height: 100%; 
        .button_right {
            background: none;
            color: #111B47;
            border: 2px solid #111B47;
        }  
    }
    
}
.main_sections {
    padding-top: 5rem;
    margin-bottom: 10.1rem;
}

.text_box_main_1 {
    width: 95%;
    margin: 2rem 0 3rem 0 ;
}

.text_box_main {
    width: 76%;
}

h2 {
    @include fontz(36px, 500, 48px, #091133)
}

.icon_boxes {
    display: flex;
    justify-content: space-between;
    .icon_box {
        width: 45%;
        .icon_title {
            @include fontz(16px, 500, 26px, #091133)
        }
        .icon_lorem {
            @include fontz(12px, 400, 18px, #5D6970)
        }
    }
}
.purple_section {
    background-image: url(./img/Rectangle.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 11rem 0;
}
.text_purple_section {
    width: 600px / 1440px *100%;
    text-align: center;
    margin: 0 auto;
    .price {
        @include fontz(50px, 500, 66px, #222F65);
        letter-spacing: 1px;
        margin-top: 2.1rem;
    }
    .text_price {
        color: #37447E;
    }
    .text_over_button {
        @include fontz(14px, 350, 24px, #5D6970);
        padding: 10px;
        margin-top: 3rem;
    }
    .button_price {
        width: 189px;
        height: 32px;
        margin: 0 auto;
    }
}

.footer_box {
    background-color: #E7ECFF;
    .over_line {
        padding: 3.2rem 0;
        .sign {
            @include fontz(14px, 500, 24px, #939EA4)
        }
        .button_footer {
            width: 110px;
            height: 26px;
            @include fontz(12px, 500, 18px, white)
        }
    }
    .footer_line {
        border: 1px solid #CDD1D4;
    }
    .under_line {
        padding: 1.5rem 0;
        .footer_menu {
            width: 21%;

        }
        .social {
            width: 21%;
        }
    }
}
