body {
    width: 100%;
    height: 100%;
    min-width: 1100px;
    min-height: 600px;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Baloo Bhai 2', sans-serif;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    position: absolute;
}

a {
    text-decoration: none;
    color: black;
}

.another_text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 15px;
}

aside {
    width: 9.1%;
    height: 94.8%;
    background-color: black;
    border-radius: 24px;
    margin: 1.6% 2.25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 35.7%;
    height: 11.96%;
    display: flex;
    align-items: center;
    margin: 11.85% 31.81% 48.73% 31.61%;
}

.menu {
    height: 44.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.exit {
    width: 19.7%;
    height: 3.05%;
    margin: 170.1% 40.1% 30.6% 40.1%;
}

main {
    width: 78.75%;
    display: grid;
    grid-template-columns: 54.9% 39%;
    grid-template-rows: 21.3% 1fr;
    gap: 2.6% 5.64% ;
    position: relative;
    top: 2.66%;
    margin-left: 2.77%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #F5F5F7;
    border-radius: 14px;   
    position: relative;
    height: 84%;
    top: 15%;
}

.text_header {
    position: relative;
    left: 5%;
    bottom: 25%;
}

.hello {
    font-size: 36px;
    line-height: 57px;
    position: relative;
    top: 10px;
}

.josh {
    align-items: flex-end;
    margin-right: 16.9%;
    height: 118%;
}

.navigation {
    position: relative;
    height: 84%;
    top: 15%;
}

.navigation_top {
    display: flex;
    height: 26.8%;
    justify-content: space-between;
}

.search {
    height: 93%;
    width: 67.3%;
    background: #F5F5F7;
    border-radius: 8px;
    position: relative;
}

.search_place {
    height: 100%;
    width: 90%;
    position: absolute;
    left: 10%;
    background: #F5F5F7;
    outline: none;
    border-radius: 8px;
    border: none;
}

.search_icon {
    width: 7%;
    height: 50%;
    position: relative;
    top: 25%;
    left: 4%;
}

.stars_boxes {
    display: flex;
    justify-content: space-between;
    height: 59%;
    margin-top: 23px;    
}

.stars_box_1, .stars_box_2 {
    height: 100%;
    width: 46.5%;
    background: #F5F5F7;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars_number {
    margin-right: 5%;
    font-size: 64px;
    line-height: 102px;
}

.stars_text {
    width: 40%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.my_couses {
    display: flex;
    height: 11.5%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.4%;
}


.course_spanish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80.6%;
    height: 100%;
    background: #F5F5F7;
    border-radius: 14px;
}

.logo_my_course {
    width: 12.8%;
    height: 80%;
    background-color: white;
    border-radius: 12px;
    margin-left: 1.7%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.course_progress {
    width: 8%;
    height: 50%;
    position: relative;
}

.progress_rate {
    position: absolute;
    top: 30%;
    left: 15%;
    
}

.progress_line {
    position: absolute;
    height: 100%;
}

.button_continue {
    width: 24%;
    height: 50%;
    margin-right: 4.7%;
}

button {
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

button:hover {
    opacity: 0.3;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 15.5%;
    height: 50%;

}

.all_couses {
    height: 100%;
}

.title {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 2.5%;
}


.menu_courses {
    margin-bottom: 1.7%;
}

.nav_couses {
    margin-right: 6%;
}

.course_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5.55vw;
    background: #F5F5F7;
    border-radius: 14px;
    margin-bottom: 2.5%;
}

.logo_all_course {
    width: 10.4%;
    height: 81%;
    background-color: white;
    border-radius: 12px;
    margin-left: 1.4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name_course {
    width: 150px;
}

.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12.7%;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6%;
}

.button_view {
    width: 19.5%;
    height: 50%;
    margin-right: 4%;
}

.menu_statistics {
    margin-bottom: 7.5%;
    height: 4.7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#period {
    width: 20%;
    height: 100%;
    margin-left: 27%;
    background: #F5F5F7;
    border-radius: 8px;
    outline: none;
    border: none;
}

.graph {
    width: 110%;
    margin-bottom: 11%;   
}

.lern_more {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F5F5F7;
    border-radius: 14px;
    width: 100%;
    height: 28%;
    min-height: 200px;
}

.text_lern {
    width: 45%;
    height: 90%;
    margin-top: 4%;   
    min-width: 167px;

}

.price {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12%;
}

.button_premium {
    width: 61%;
    height: 24%;
    
}