* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}
h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
}
h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
}
.f-s {
    font-size: 12px;
    font-weight: 400;

}
.add {
    width: 1440px;
    height: 500px;
    background-color: #ED4C5C;
    display: flex;
}
.text-1 {
    color: white;
    max-width: 445px;
    width: 100%;
    height: auto;
    position: relative;
    top: 122px;
    left: 165px;
}
.stay {
    height: 107px;
}
.stay-dw {
    height: 64px;
    margin: 24px 0 42px 0;
}
.img {
    width: 100%;
    max-width: 533px;
    height: auto;
    position: relative;
    top: 94px;
    left: 246px;
   }
.logo {
    display: flex;
    justify-content:space-around;
    align-items:center;
    width: 100%;
    max-width: 134px;
    height: 32px;
}
.windows {
    width: 24px;
    height: 24px;
}
.contact {
    width: 1440px;
    height: 500px;
    display: flex;
}
.text-2 {
    width: 100%;
    max-width: 445px;
    height: auto;
    position: relative;
    top: 117px;
    left: 176px;
}
.forms {
    width: 100%;
    max-width: 540px;
    height: 305px;
    position: relative;
    top: 117px;
    left: 301px;
}
.con {
    height: 107px;
}
.con-dw {
    width: 434px;
    height: 64px;
}
.form {
    width: 100%;
    height: 60px;
    color: #777;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0 0 24px 0;
    padding: 21px 0 20px 31px;
}
.name {
    width: 255px;
}
.last {
    float: right;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("img/ChevronDownE70D.svg");
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 26px;
}
button {
    width: 160px;
    height: 50px;
    color: white;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;
}
.footer {
    width: 1440px;
    height: 500px;
    background-color: #FAFAFA;
    display: flex;
    align-items: flex-start;
}
.address {
    width: 259px;
    height: 264px;
    margin: 85px 30px 86px 161px;
}
.services {
    width: 254px;
    height: 164px;
    margin: 85px 30px 186px 0;
}
.get {
    width: 122px;
    height: 128px;
    margin: 85px 166px 222px 0;
}
.support {
    width: 216px;
    height: 100px;
    margin: 85px 196px 0 0;
}
h2 { 
    margin: 0 0 33px 0;
}
.social {
    width: 66px;
    height: 14px;
    display: flex;
    justify-content:space-between;
    margin: 20px 0 0 0;
}
.card {
    width: 216px;
    height: 31px;
}
.copyright {
    margin: 141px 0 0 0;
}