body {
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    line-height: 1.43em;
    font-weight: 400;
    font-style: normal;
    color: #4F4F4F;

}

.blue_text {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}

.title {
    margin: 1.68rem 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
}

a {
    text-decoration: none;
    color: white;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    background: #F4F6F9;
    background-image: url(./img/Frame.png);
    background-repeat: no-repeat;
    background-size: 68%;
    background-position-x: 100%;
    
}


.header_left {
    width: 38%;
    height: auto;
    margin-top: 4.4%;
    margin-left: 11.32%;
}

.title_header {
    font-weight: 700;
    font-size: 2.25em;
    line-height: 3rem;
    letter-spacing: 0.03em;
    /* margin-top: 8.3rem; */
    margin-top: 9.2vw;
    margin-bottom: 1.85rem;
    color: #333333;
}

.text_header {
    width: 80%;
    font-size: 18px;
    line-height: 26px;
}

.download {
    width: 21.75rem;
    margin-top: 3.125rem;
    margin-bottom: 11.5vw;
    display: flex;
    justify-content: space-between;

}

@media (min-width: 360px) and (max-width:720px) {
    header {
        background-image: none;
        text-align: center;
        justify-content: center;
        
    }
    .header_left {
        width: 85%;
        margin-top: 2rem;
        margin-left: 0;
    }
    
    .title_header {
        font-weight: 700;
        font-size: 1.87em;
        line-height: 2.5rem;
        letter-spacing: 0.03em;
        margin-top: 5.25rem;    
    }
    
    .text_header {
        width: 100%;
        font-size: 16px;
        line-height: 23px;
    }
    
    .download {
        width: 19em;
        margin: 3.125rem auto 11.5vw auto;
    }

    .download_button {
        width: 9.12em;
    }
}

.experience {
    display: flex;
    height: 41.2vw;
    min-height: 450px;
}

.experience_video {
    width: 55.9%;
    height: auto;
    position: relative;
}

.footboler {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;    
}

.footboler360 {
    display: none;
}

.gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
	position:  absolute;   
}
.schedule {
    position: absolute;
    width: 60%;
    left: 11%;
    top: 5.5vw;
    z-index: 2;
}

.inside_box_experience {
    width: 100%;
}

.video {
    position: relative;
    width: 44.8%;
    top: 20.55vw;
    left: 33%;

}

.experience_text {
    width: 29.7%;
    height: auto;
    margin-top: 9.23vw;
    margin-bottom: 11vw;
}

.about_experience {
    width: 90%;
}

.learn_more {
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}

@media (min-width: 360px) and (max-width:720px) {
    .experience {
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    
    .experience_video {
        width: 100%;
        height: 24.25rem;
        display: flex;
        position: relative;
        order: 2;
    }
    
    .footboler {
        display: none; 
    }

    .footboler360 {
        display: block;
        width: 100%;
        height: 24.25rem;
        border: none;
        position: absolute;
    }

    .gradient {
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
        position:  absolute;   
    }

    .inside_box_experience {
        position: relative;
    }

    .schedule {
        position: absolute;
        display: flex;
        width: 90%;
        max-width: 450px;
        left: 2%;
        top: 3rem;
        z-index: 1;
    }
    
    .video {
        position: absolute;
        width: 70%;
        max-width: 345px;
        top: 10rem;
        left: 25vw;
    
    }
    
    .experience_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 9.23vw;
        margin-bottom: 11vw;
        
    }
    
    .about_experience {
        width: 85%;
        margin-bottom: 1.5rem;
    }
    
    .learn_more {
        font-size: 16px;
        line-height: 21px;
        color: #00ADEE;
    }
}


.interface {
    width: 100%;
    height: auto;
    display: inline-block;
    background-image: url(./img/SAMPLE05.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
}

.interface_text {
    margin: 15.07vw 0 11.87vw 11%;
}

.about_interface {
    width: 40%;
}

.interface_text .learn_more {
    margin-top: 3.375rem;
}

.img_phone_box {
    display: none;
}

@media (min-width: 360px) and (max-width:720px) {
    .interface {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }
    
    .interface_text {
        margin: 4rem 0 0 0;
        text-align: center;
        width: 90%;
    }
    
    .about_interface {
        width: 100%;
    }

    .img_phone_box {
        display: block;
        width: 100%;
    }

    .img_phone {
        width: 100%;
    }
}


.features {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/Group\ 696.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


/* .icon_features {
   fill: #00ADEE;
} */

.title_features {
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    margin: 3rem 0 2.5rem 0;
}

.one_feature::before {
    content: "• ";
}

.about_features {
    width: 19.43rem;
    margin: 1.5rem 3%;
}

.all_features {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}


@media (min-width: 360px) and (max-width:720px) {
    .features {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
        color: #4F4F4F;
    }

    .icon_features {
       fill: #00ADEE;
    }

    .one_feature::before {
        content: none;
    }

    .title_features {
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        margin: 2.5rem 0 0 0;
        color: #333333;
    }

    .about_features {
        margin: 2rem 0;
    }

    .all_features {
        width: 85%;
    }

}


.testimonials {
    display: flex;
    flex-direction: column;
}

.title_testimonials {
    margin: 4% 0;
    text-align: center;
}

.all_testimonials {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrows {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    bottom: 7rem;
}

.dots {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

@media (min-width: 360px) and (max-width:720px) {
    
    .title_testimonials {
        margin: 10% 0;
        text-align: center;
    }
    
    .arrows {
        width: 80%;
        position: relative;
        display: flex;
        justify-content:flex-end ;
        margin: 0 auto;
        bottom: 7rem;
    }
    
    .dots {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        bottom: 2.5rem;
    }

    .testim_mob,.arrow_left  {
        display: none;
    }
    .testim3 {
        margin: 0 auto;
    }

}

.channels {
    width: 100%;
    min-height: 17.37rem;
    background-color: #FAFAFA;
    text-align: center;
}

.title_channel {
    padding-top: 4%;
}

.all_channels {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 4% 3%;
}

@media (min-width: 360px) and (max-width:720px) {
    .channels {
        min-height: 20rem;
        display: flex;
        flex-direction: column;
    }
    
    .all_channels {
        display: flex;
        width: 88%;
        justify-content: space-around;
        margin: 4% auto;
    }
}

.lower_part {
    display: flex;
    height: 485px;
}

.box_lower_img {
    width: 46.27%;
    
}

.lower_img {
    width: 100%;
    height: 100%;
}

.lower_text {
    width: 37%;
    height: auto;
    margin: 7.3% 0 0 4%;
}

@media (min-width: 360px) and (max-width:720px) {
    .lower_part {
        align-items: center;
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    
    .box_lower_img {
        display: flex;
        width: 100%;
        order: 2;
    }
    
    
    .lower_text {
        width: 85%;
        height: auto;
        margin: 7.3% 0 0 0;
    }
}

footer {
    min-height: 7.9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00ADEE;
}

.footer_nav {
    width: 26%;
    display: flex;
    justify-content: space-between;
}

.soc {
    width: 7.7%;
    display: flex;
    justify-content: space-between;
    
}
.foot_marg {
    margin-right: 3%;
}

@media (min-width: 360px) and (max-width:720px) {
    footer {
    padding: 3rem 1rem;
    flex-direction: column;
    align-items: baseline;
    }
    
    .footer_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    order: 2;
    }
    
    .soc {
    width: 7rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    } 
}

.click:hover {
    border: 1px solid rgb(240, 89, 195);
    border-radius: 50%;
    
}

.click_text:hover {
    color: mediumvioletred;
}