body {
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #4F4F4F;

}

header {
    width: 100%;
    min-width: 1150px;
    height: auto;
    display: flex;
    background: #F4F6F9;
    background-image: url(./img/Frame.png);
    background-repeat: no-repeat;
    background-size: 68%;
    background-position-x: 100%;
    
}

.header_left {
    height: auto;
    margin-top: 4.4%;
    margin-left: 11.32%;
}

.title_header {
    font-weight: 700;
    font-size: 2.25em;
    line-height: 3rem;
    letter-spacing: 0.03em;
    margin-top: 8.3rem;
    margin-bottom: 1.85rem;
    color: #333333;
}

.text_header {
    font-size: 18px;
    line-height: 26px;
}

.download {
    width: 64%;
    margin-top: 3.125rem;
    margin-bottom: 11.5vw;
    display: flex;
    justify-content: space-between;

}